<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Bibliosfera</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body class="bg-white">

  <!-- Navbar -->
  <div th:replace="~{fragments/navbar :: navbar}"></div>

  <!-- Contenido dinámico -->
  <main class="container my-4">
      <div th:replace="${contenido}"></div>
  </main>

  <!-- Footer -->
  <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
