<!-- templates/inicio.html -->
<div th:fragment="contenido">
    <!-- Header -->
    <header class="border-bottom bg-light py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-12 text-center text-lg-start mb-3 mb-lg-0">
                    <h2 class="text-primary display-5 fw-bold opacity-75">Librería Bibliosfera</h2>
                    <h4>"Las librerías son refugios donde habitan las historias."</h4>
                </div>
                <div class="col-lg-6 col-12 text-center">
                    <img src="../static/img/lib5.jpg" class="img-fluid rounded shadow" alt="Librería">
                </div>
            </div>
        </div>
    </header>

    <!-- Servicios -->
    <section class="container mt-4 mb-3">
        <h2 class="text-center mb-3">Servicios</h2>
        <!-- ... contenido ... -->
    </section>

    <!-- Más vendidos -->
    <section class="container mt-4 mb-3">
        <h2 class="text-center mb-3">Más vendidos</h2>
        <!-- ... contenido ... -->
    </section>
</div>
