<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h2 class="text-center mb-4 text-primary">Listado de Personas</h2>

        <table class="table table-striped table-bordered table-hover shadow">
            <thead class="table-primary">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p : ${personas}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.nombre}"></td>
                    <td th:text="${p.correo}"></td>
                </tr>
            </tbody>
        </table>

        <div class="text-center mt-3">
            <a href="/ingreso" class="btn btn-primary">Ingresar nueva persona</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
