<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nosotros - Bibliosfera</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body class="bg-white">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary-subtle">
        <div class="container-fluid">
            <a class="navbar-brand text-primary opacity-75" href="#"><img src="../static/img/lib-logo1.jpg" width="30" height="30">Libreria Bibliosfera</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
                    aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active text-primary opacity-75" href="inicio.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-primary opacity-75" href="catalogo.html">Catalogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-primary opacity-75" href="nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-primary opacity-75" href="comprar.html">Compras</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="border-buttom bg-little py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-12 text-center text-lg-start mb-3 mb-lg-0">
                    <h2 class="text-primary display-5 fw-bold opacity-75"><i class="bi bi-people-fill"></i> Nosotros</h2>
                    <h4>"Una librería no es solo un lugar, es un equipo con pasión por las historias."</h4>
                </div>
                <div class="col-lg-6 col-12 text-center">
                    <img src="../static/img/lib5.jpg"img-fluid rounded shadow">
                </div>
            </div>
        </div>
    </header>
    <section class="container my-5">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12">
                <img src="../static/img/lib9.jpg" class="img-fluid rounded shadow">
            </div>
            <div class="col-lg-6 col-12 text-center text-lg-start mb-3 mb-lg-0">
                <h2 class="text-dark">Sobre Nosotros</h2>
                <p class="card-text">Somos un equipo apasionado por los libros y la lectura, dedicados a compartir historias que inspiran, emocionan y transforman. Creemos que cada página tiene el poder de abrir nuevas perspectivas y conectar a las personas con mundos distintos. Nuestro compromiso es ofrecer una experiencia cercana, accesible y enriquecedora para todos aquellos que buscan descubrir su próxima gran lectura.</p>
            </div>
        </div>
    </section>
    <section class="container my-5">
        <div class="text-center mb-4">
            <h2 class="mb-3">Conoce a nuestro equipo</h2>
            <p class="text-muted">En Bibliosfera, cada página cuenta una historia y nuestro equipo hace que cobre vida.</p>
        </div>

        <div class="row g-4">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="card text-center bg-primary-subtle h-100">
                    <div class="card-body">
                        <h3 class="card-title"><i class="bi bi-person"></i> Solange Cepeda</h3>
                        <p class="card-text">Jefa de Marketing y directora ejecutiva</p>                    
                    </div>
                </div>
            </div> 
            <div class="col-12 col-md-6 col-lg-6">
                <div class="card text-center bg-info-subtle h-100 ">
                    <div class="card-body">
                        <h3 class="card-title"><i class="bi bi-person"></i> Miguel Alvarado</h3>
                        <p class="card-text">Licenciado experto y lector impulsivo.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="card text-center bg-primary-subtle h-100 ">
                    <div class="card-body">
                        <h3 class="card-title"><i class="bi bi-person"></i> Eduardo Vicuña</h3>
                        <p class="card-text">Director general de logística e IT.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="card text-center bg-info-subtle h-100">
                    <div class="card-body">
                        <h3 class="card-title"><i class="bi bi-person"></i> Felix Cordova</h3>
                        <p class="card-text">Pasante dedicado y asesor legal</p>
                    </div>
                </div>
            </div>
        </div>
  </section>
  <footer class="bg-primary-subtle text-primary opacity-75 py-4 mt-5">
        <div class="container">
            <div class="row text-center">
            <div class="col-md-4 mb-3">
                <i class="bi bi-telephone fs-4 d-block mb-1"></i>
                <span class="fw-bold">Teléfono:</span>
                <p class="mb-0">925659658</p>
            </div>
            <div class="col-md-4 mb-3">
                <i class="bi bi-envelope fs-4 d-block mb-1"></i>
                <span class="fw-bold">Correo:</span>
                <p class="mb-0">Bibliosfera_lib@gmail.com</p>
            </div>
            <div class="col-md-4 mb-3">
                <i class="bi bi-geo-alt-fill fs-4 d-block mb-1"></i>
                <span class="fw-bold">Dirección:</span>
                <p class="mb-0">Av. Brasil 702<br>Centro Comercial La Rambla</p>
            </div>
            </div>
            <p class="text-center small mb-0">© 2025 Bibliósfera - Todos los derechos reservados</p>
        </div>
    </footer>
</body>
</html>